{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <title>Todo App</title>
</head>
<body>
    {% block content %}
    <div class="smaller-container text-muted">
        <h3 class="display-3 text-center">TASKS</h3>
        <hr>
        <form action="/" method="POST">
            {% csrf_token %}
            {{form.title}}
            <input type="submit" value="add task" class="btn btn-success btn-block btn-sm">
        </form>
        <br>
        <table class="table text-secondary">
            <tbody>
                {% for task in tasks %}
                    <tr>
                        <td>{{task.date_created}}</td>
                        <td>
                            {% if task.completed == True %}
                            <strike class="text-success">{{task.title}}</strike>
                            {% else %}
                            <span>{{task.title}}</span>
                            {% endif %}
                        </td>
                        <td></td>
                        <td><a href="{% url 'update_task' task.id %}" class="btn btn-sm btn-warning text-white">update</a></td>
                        <td><a href="{% url 'delete_task' task.id %}" class="btn btn-sm btn-danger text-white">delete</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endblock %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>
</body>
</html>