body {
    font-family: Arial, Helvetica, sans-serif;

    background-color: rgba(200, 240, 200, 0.576);
}

.smaller-container {
    width: 700px;
    box-sizing: border-box;
    margin: 5rem auto auto auto;
    padding: 1.2rem;
    border-radius: .5rem;
    border: 1px solid rgba(204, 204, 204, 0.385);
    box-shadow: 1px 1px 5px 5px rgba(200, 240, 200, 0.576);
}

.btn-block {
    display: block;
    width: 100%;
}